html {
  scroll-padding-top: 6rem;
  transition: margin-right .5s;
}

h2 {
  margin: 1.5rem
} 

h3 {
  line-height: .5rem;
}

.tea-bar {
  position: sticky;
  top: 0;
  width: 100%;
  text-align: center;
  background-color: #215763;
  padding: 2rem 2rem;
  box-shadow: 2px 2px 10px 2px black;
}

.tea-bar a {
  display: inline;
  padding: .5rem; 
  margin: 0rem 1rem;
  border-radius: .5rem;
  text-decoration: none;
  color: white
}

.tea-bar a:hover {
  color: #e09f3e;
  cursor: pointer;
}

.cart-img {
  width: 20px;
  height: 20px;
  top: 30px;
  right: 30px;
  position: fixed;
}

.cart-img:hover {
  cursor: pointer;
}

.card-grid {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 1rem;
  margin: 0rem 1rem;
}

.card {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, .3);
  border-radius: .25rem;
  height: 10rem;
  z-index: 1;
}

.card:hover {
  box-shadow: 0 0 5px 2px #215763;
  cursor: pointer;
}

.card p {
  margin: auto 0rem auto 1rem;  
}

.card img {
  height: 140px;
  width: 190px;
  margin: .6rem 1rem;
  border-radius: .25rem;
}

label {
  line-height: 1.5;
}

input {
  margin-right: 15px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.addOns {
  position: fixed;
  text-align: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5px 90px 30px 30px;
  z-index: 1000;
  background-color: white;
  line-height: 1.5rem;
  border-radius: .5rem;
}

.close-btn {
  position: fixed;
  margin: .1rem 0rem 0rem 18.5rem;
  font-size: 1rem;
  width: 1.7rem;
  color: white;
  border-radius: .5rem;
  border: none;
  background-color: #215763;
}

.close-btn:hover, .add-btn:hover {
  cursor: pointer;
  box-shadow: 0 0 2px 2px #215763;
}

.tea-name {
  margin-bottom: 1.5rem;
  text-align: left;
}

.add-btn {
  padding: .5rem;
  margin: 1rem 0rem 0rem 5.5rem;
  font-size: 1rem;
  color: white;
  border-radius: .5rem;
  border: none;
  background-color: #215763;
}

.animate__animated {
  --animate-duration: 300ms
}

#cart {
  position: fixed;
  margin-top: 2rem;
  border-radius: .5rem;
  height: 100%;
  width: 20%;
  z-index: 1;
  right: 0;
  background-color: #215763;
}

.cart-content {
  text-align: left;
  line-height: .5;
}

.cart-content p {
  text-indent: 1rem;
}

.checkout {
  all: unset
}

.quantity {
  display: inline;
}

.minus {
  color: white;
  background-color: #215763;
  border-radius: .5rem;
  font-size: 1.25rem;
  box-shadow: none;
  width: 2rem;
  float: left;
}

.plus {
  color: white;
  background-color: #215763;
  border-radius: .5rem;
  font-size: 1.25rem;
  box-shadow: none;
  width: 2rem;
}

.minus:hover {
  cursor: pointer;
  box-shadow:  #215763;
}

.plus:hover {
  cursor: pointer;
  box-shadow:  #215763;
}

.qty {
  margin: .5rem .5rem .5rem .7rem
}
.edit, .remove {
  font-size: 1rem;
  margin: .5rem;
  font-weight: bold;
}

.edit {
  margin-left: 0rem
}

.edit:hover, .remove:hover {
  color: #215763;
  cursor: pointer;
  text-decoration-line: underline;
}

